/*Свойство Position:
1. position: absolute - абсолютное позиционирование, можно перемещать объект, если не указать position: relative
для родителя, то будет абсолютен относительно body, МОЖНО перемещать с помощью top, right, bottom, left;
2. position: relative - нужен для связки с п.1, задает относительно какого элемента должен быть абсолютен элемент
(двигался внутри контейнера, например, а не по всей странице, МОЖНО перемещать с помощью top, right, bottom, left;
position: fixed - зафиксирован на своем месте, НЕ двигается со скроллом страницы, перекрывает контент, МОЖНО перемещать
с помощью top, right, bottom, left;
position: static - статичное позиционирование элемента на странице, никуда не перемещается, ничего не делает, НЕЛЬЗЯ
перемещать с помощью top, right, bottom, left;
position: sticky - сочетание относительного и фиксированного позиционирования, применяется В СВЯЗКЕ с float и top!
сопровождает страницу при скролле В РАМКАХ своего контейнера
*/
* {
   margin: 0;
   padding: 0;
}
body {
   background-color: wheat;
}
.wrapper {
   margin: 5px;
   padding: 2px;
}
.main {
}
ul,
ol {
   list-style: none;
}
li {
   display: inline;
}
a {
   font-size: 20px;
   color: rgb(109, 104, 104);
   text-decoration: none;
}
a:hover {
   color: #f00;
}
