body {
   text-align: justify;
   background-color: wheat;
}
.articleSide {
   width: 50%;
}

.sticky {
   float: right;
   text-align: center;
   font-size: 12px;
   width: 40%;
   position: sticky;
   top: 0;
}
.sticky h2 {
   color: white;
   background-color: rgba(51, 21, 3, 0.822);
   border: 3px solid yellow;
   padding: 5px;
}
.text {
   background-color: rgba(180, 118, 118, 0.562);
}
a {
   background-color: rgb(255, 255, 255);
   color: rgb(48, 43, 5);
   text-decoration: none;
}
a:hover {
   color: #f00;
   text-decoration: line-through;
}
