.box {
   width: 300px;
   height: auto;
   border: 2px solid black;
}
.circle {
   background-color: black;
   width: 70px;
   height: 70px;
   border-radius: 100%;
   position: static;
   right: 40px;
   top: 80px;
}
a {
   color: rgb(109, 104, 104);
   text-decoration: none;
}
a:hover {
   color: #f00;
}
.text {
   background-color: rgba(97, 6, 6, 0.562);
}
