.box {
   width: 500px;
   height: auto;
   border: 2px solid black;
}
.circle {
   background-color: black;
   width: 70px;
   height: 70px;
   border-radius: 100%;
   top: 20px;
   right: 50px;
   position: fixed;
}
a {
   color: rgb(109, 104, 104);
   text-decoration: none;
}
a:hover {
   color: #f00;
}
.text {
   background-color: rgba(180, 118, 118, 0.562);
}
