.box {
   width: 300px;
   height: auto;
   border: 2px solid black;
}
.circle {
   background-color: black;
   width: 70px;
   height: 70px;
   border-radius: 100%;
   position: absolute;
   right: 40px;
   top: 80px;
}
a {
   color: rgb(109, 104, 104);
   text-decoration: none;
}
a:hover {
   color: #f00;
}
span {
   font-size: 12px;
   text-decoration: line-through;
}
.text {
   background-color: rgba(180, 118, 118, 0.562);
}
